:root {
  --color-dark-blue-1: hsl(217, 28%, 15%);
  --color-dark-blue-2: hsl(218, 28%, 13%);
  --color-dark-blue-3: hsl(216, 53%, 9%);
  --color-dark-blue-4: hsl(219, 30%, 18%);
  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-white: hsl(0, 0%, 100%); }

html {
  box-sizing: border-box;
  font-size: 50%; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.btn {
  position: relative;
  padding: 2.5rem 10rem;
  border: none;
  border-radius: 50px;
  color: var(--color-white);
  font-size: 2rem;
  cursor: pointer;
  transition: all .2s;
  outline: none;
  overflow: hidden;
  z-index: 1; }
  .btn::before {
    content: '';
    position: absolute;
    height: 500%;
    width: 150%;
    top: -200%;
    left: -25%;
    background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    transition: transform .5s;
    z-index: -1; }
  .btn:hover::before {
    animation: .5s linear infinite spin; }
  .btn:active {
    transform: scale(0.95); }

.feature {
  text-align: center; }
  .feature__img {
    height: 10rem;
    width: auto; }
  .feature__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem; }

.testimonial-card {
  max-width: 50rem;
  padding: 4rem 3.5rem;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.03);
  background-color: var(--color-dark-blue-4); }
  .testimonial-card__review {
    margin-bottom: 3rem; }
  .testimonial-card__reviewer-wrapper {
    display: flex;
    align-items: center; }
  .testimonial-card__avatar {
    height: auto;
    width: 4rem;
    margin-right: 1.5rem;
    border-radius: 50%; }
  .testimonial-card__description-wrapper {
    display: flex;
    flex-direction: column; }
  .testimonial-card__name {
    font-size: 1.25rem;
    font-weight: 700; }
  .testimonial-card__title {
    font-size: 1rem; }
  .testimonial-card:first-child {
    position: relative; }
    .testimonial-card:first-child ::before {
      content: url(../img/bg-quotes.png);
      position: absolute;
      top: -4rem;
      left: -2rem;
      transform: scale(0.75);
      z-index: -1; }
      @media only screen and (min-width: 800px) {
        .testimonial-card:first-child ::before {
          top: -4.5rem;
          left: -1.5rem;
          transform: scale(1); } }

body {
  overflow-x: hidden;
  background-color: var(--color-dark-blue-2); }

.header {
  background-color: var(--color-dark-blue-1); }
  .header__content-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    padding: calc(2rem + 2vw) 0; }
  .header__logo {
    margin-right: auto; }
    .header__logo svg {
      height: auto;
      width: 12vw;
      min-width: 12rem;
      max-width: 24rem; }
  .header__nav ul {
    display: flex;
    list-style: none; }
    .header__nav ul li:not(:last-child) {
      margin-right: calc(2rem + 2vw); }

.hero {
  background: url(../img/bg-curvy-mobile.svg), var(--color-dark-blue-1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 8vw;
  padding-top: 4rem;
  padding-bottom: calc(10rem + 6vw); }
  @media only screen and (min-width: 800px) {
    .hero {
      background: url(../img/bg-curvy-desktop.svg), var(--color-dark-blue-1);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain; } }
  .hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto; }
  .hero__img {
    width: 100%; }
  .hero__text-wrapper {
    text-align: center; }
  .hero__subheading {
    margin: 0 auto;
    max-width: 66rem; }

.features {
  display: grid;
  grid-template-columns: minmax(auto, 48rem);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 12rem;
  justify-content: center;
  padding: 0 8vw;
  padding-bottom: calc(10rem + 6vw); }
  @media only screen and (min-width: 800px) {
    .features {
      grid-template-columns: repeat(2, minmax(auto, 50rem));
      grid-template-rows: repeat(2, auto);
      grid-column-gap: calc(6rem + 8vw); } }
  .features .feature-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
  .features .feature-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1; }
  .features .feature-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1; }
  .features .feature-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1; }
  @media only screen and (min-width: 800px) {
    .features .feature-1 {
      grid-column: 0 / span 1;
      grid-row: 1 / span 1; }
    .features .feature-2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1; }
    .features .feature-3 {
      grid-column: 0 / span 1;
      grid-row: 2 / span 1; }
    .features .feature-4 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1; } }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 8vw;
  padding-bottom: calc(10rem + 6vw); }
  @media only screen and (min-width: 800px) {
    .about {
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      padding: 0;
      padding-bottom: calc(10rem + 6vw); } }
  .about__img-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10vw; }
    @media only screen and (min-width: 800px) {
      .about__img-wrapper {
        width: 47.5%;
        margin-bottom: 0; } }
  .about__img {
    height: auto;
    width: 100%;
    max-width: 615px; }
  .about__text-wrapper {
    width: 100%; }
    @media only screen and (min-width: 800px) {
      .about__text-wrapper {
        width: 47.5%; } }
  .about__heading {
    text-align: center; }
    @media only screen and (min-width: 800px) {
      .about__heading {
        max-width: 45rem;
        text-align: start; } }
  .about__link {
    position: relative; }
    .about__link::before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 1px;
      width: 18.5rem;
      background: linear-gradient(to right, var(--color-cyan), var(--color-blue)); }
      @media only screen and (min-width: 1000px) {
        .about__link::before {
          width: 21.25rem; } }

.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  max-width: 1440px;
  margin: auto;
  padding: 0 8vw;
  padding-bottom: calc(10rem + 6vw); }
  @media only screen and (min-width: 1000px) {
    .testimonials {
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      padding: 0;
      padding-bottom: calc(10rem + 6vw); } }

.cta {
  position: relative;
  width: 85%;
  max-width: 110rem;
  margin: auto;
  padding: 6rem calc(3.5rem + 2vw);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--color-dark-blue-1);
  text-align: center;
  z-index: 5; }
  .cta__input-wrapper {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 800px) {
      .cta__input-wrapper {
        flex-direction: row; } }
  .cta__subheading {
    margin: auto;
    max-width: 80rem; }
  .cta__input {
    height: 58px;
    margin-bottom: 4rem;
    border: none;
    border-radius: 50px;
    padding-left: 4rem;
    font-size: 2rem; }
    @media only screen and (min-width: 800px) {
      .cta__input {
        flex: 1;
        margin-right: 4rem;
        margin-bottom: 0; } }
    .cta__input::placeholder {
      color: #d6d6d6; }
  .cta__btn {
    align-self: center;
    padding-left: 3rem;
    padding-right: 3rem; }
    @media only screen and (min-width: 350px) {
      .cta__btn {
        padding-left: 5rem;
        padding-right: 5rem; } }

.footer {
  margin-top: -15rem;
  padding: 0 8vw;
  padding-top: 26rem;
  padding-bottom: calc(4rem + 4vw);
  background-color: var(--color-dark-blue-3); }
  .footer__content-wrapper {
    max-width: 1440px;
    margin: auto; }
  .footer__logo {
    margin-bottom: 6rem; }
    .footer__logo svg {
      height: auto;
      width: 12vw;
      min-width: 18rem;
      max-width: 24rem; }
  .footer__text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media only screen and (min-width: 1000px) {
      .footer__text-wrapper {
        flex-direction: row; } }
  .footer__info {
    margin-bottom: 8rem; }
    @media only screen and (min-width: 1000px) {
      .footer__info {
        width: 45%;
        margin-bottom: 0;
        padding-right: 4rem; } }
    .footer__info ul {
      display: flex;
      flex-flow: column wrap;
      list-style: none; }
      .footer__info ul li {
        display: flex;
        align-items: center;
        max-width: 55rem; }
        .footer__info ul li svg {
          margin-right: 2rem; }
        .footer__info ul li:not(:last-child) {
          margin-bottom: 2.5rem; }
  .footer__nav {
    margin-bottom: 8rem; }
    @media only screen and (min-width: 1000px) {
      .footer__nav {
        width: 30%;
        margin-bottom: 0; } }
    .footer__nav ul {
      display: flex;
      flex-flow: column wrap;
      list-style: none; }
      @media only screen and (min-width: 1000px) {
        .footer__nav ul {
          height: 20rem; } }
      .footer__nav ul li:not(:last-child) {
        margin-bottom: 2.5rem; }
  .footer__social-icons {
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 1000px) {
      .footer__social-icons {
        justify-content: flex-start; } }
    .footer__social-icons a {
      text-decoration: none; }
      .footer__social-icons a:not(:last-child) {
        margin-right: 2rem; }
      .footer__social-icons a svg {
        height: 4rem;
        width: auto; }
        .footer__social-icons a svg * {
          fill: white; }
        .footer__social-icons a svg:hover * {
          fill: var(--color-cyan); }

.attribution {
  margin-top: 6rem;
  font-size: 11px;
  text-align: center; }
  .attribution a {
    background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

body {
  color: var(--color-white);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem; }

.header__nav li a {
  color: var(--color-white);
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-decoration: none; }
  .header__nav li a:hover {
    background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media only screen and (min-width: 400px) {
    .header__nav li a {
      font-size: 1.875rem; } }

h1 {
  font-family: 'Raleway', sans-serif; }
  @media only screen and (min-width: 200px) {
    h1 {
      font-size: 3rem; } }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 3.5rem; } }
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 4.5rem; } }
  @media only screen and (min-width: 1000px) {
    h1 {
      font-size: 5rem; } }

.hero__subheading {
  font-size: 2.25rem; }
  @media only screen and (min-width: 200px) {
    .hero__subheading {
      font-size: 1.875rem; } }
  @media only screen and (min-width: 600px) {
    .hero__subheading {
      font-size: 2rem; } }
  @media only screen and (min-width: 1000px) {
    .hero__subheading {
      font-size: 2.25rem; } }

h2 {
  font-family: 'Raleway', sans-serif; }
  @media only screen and (min-width: 200px) {
    h2 {
      font-size: 2.25rem; } }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 3rem; } }
  @media only screen and (min-width: 800px) {
    h2 {
      font-size: 3.5rem; } }
  @media only screen and (min-width: 1000px) {
    h2 {
      font-size: 4.5rem; } }

.about {
  font-size: 1.75rem; }
  .about__link {
    background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media only screen and (min-width: 1000px) {
    .about {
      font-size: 2rem; } }

h3 {
  font-family: 'Raleway', sans-serif; }
  @media only screen and (min-width: 200px) {
    h3 {
      font-size: 2.25rem; } }
  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 2.75rem; } }
  @media only screen and (min-width: 800px) {
    h3 {
      font-size: 3.25rem; } }
  @media only screen and (min-width: 1000px) {
    h3 {
      font-size: 3.75rem; } }

.footer__nav li a {
  color: var(--color-white);
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-decoration: none; }
  .footer__nav li a:hover {
    background: linear-gradient(to right, var(--color-cyan), var(--color-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.mg-bottom-md {
  margin-bottom: calc(2.25rem + 1.5vw); }

.mg-bottom-sm {
  margin-bottom: 2.75rem; }

.mg-bottom-ty {
  margin-bottom: 1.5rem; }
